.topnav{
    background-color: #1976d2;
    text-align: center;
    width: 100%;
   
  }

.userform{
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
 
}

.mainregister{
   
    display: inline-block;
    width: 900px;
    background-color: #F5F5F5	;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.h2txt{
    font-size: 26px;
    color: white;
    padding: 20px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;

  }

  table {
    width: 960px;
    overflow-x: auto;
    overflow-y: hidden;
    
  }
  th.mat-header-cell {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  td.mat-cell{
    font-size: 16px;
  }