<div class="content" role="main">
    <div class = "mainregister">
      <div class="topnav"> 
        <div class ="h2txt">User Details</div>  </div>
        
        <table class ="styled-table" >
 
       
        <tbody>
        <tr>
          <td style ="font-weight: bold">First Name</td>
          <td>{{user.firstName}}</td>
          </tr>
          <tr>
            <td style ="font-weight: bold">Last Name</td>
              <td>{{user.lastName}}</td>
          </tr>

          <tr>
            <td style ="font-weight: bold">Email</td>
              <td>{{user.email}}</td>
          </tr>

          <tr>
            <td style ="font-weight: bold">City</td>
              <td>{{user.address.city}}</td>
          </tr>
         
          <tr>
            <td style ="font-weight: bold">State</td>
              <td>{{user.address.state}}</td>
          </tr>
         
          <tr>
            <td style ="font-weight: bold">Zipcode</td>
              <td>{{user.address.zipcode}}</td>
          </tr>
         
         
        
         
       
        </tbody>
        </table>

            </div>
            <button class ="bkbtn" (click)="back()">Back</button>
            </div>