<!--The whole content below can be removed with the new code.-->
<div class = "mainregister">
  <div class="topnav"> 
    <div class ="h2txt"> Register Person</div>  </div>
<div class="userform">
  
    <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="center-block"><span>First Name</span>
              <input class="form-control" formControlName="firstName">
            </label>
          
          <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
            please enter firstName
          </div>

        <br>
            <label class="center-block"><span>Last Name</span>
              <input class="form-control" formControlName="lastName">
            </label>
         
          <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
            please enter last name
          </div>
       
        <br>
            <label class="center-block"><span>Email Address</span>
              <input class="form-control" formControlName="email">
            </label>
         
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            please enter email address
          </div>
        
        <div formGroupName="address">
        <br>
            <label class="center-block"><span>Street</span>
              <input class="form-control" formControlName="street">
            </label>

        <br>
            <label class="center-block"><span>City</span>
              <input class="form-control" formControlName="city">
            </label>

          <br>
            <label class="center-block"><span>State</span>
              <input class="form-control" formControlName="state">
            </label>

          <br>
            <label class="center-block"><span>Zipcode</span>
              <input class="form-control" formControlName="zipcode">
            </label>
        </div>
        <button type ="submit" class="button-26" role="button" [disabled]="!angForm.valid">Submit</button>
    </div>
    </form>
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
  </div>
</div>