
.topnav{
    background-color: #1976d2;
    text-align: center;
    width: 100%;
   
  }

.userform{
    text-align: left;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.mainregister{
   
    display: inline-block;
    width: 650px;
    background-color: #F5F5F5	;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.h2txt{
    font-size: 22px;
    color: white;
    padding: 4px;
  }

  label {
    display:block;
    position:relative;
}

label span {
    font-weight:bold;
    position:absolute;
}
label input, label textarea, label select {
    margin-left: 120px;    
}



/* CSS */
.button-26 {
    margin: 25px;
  appearance: button;
  background-color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #1976d2;
  border-color: #1976d2;
}

.button-26:active {
  background-color: #1976d2;
  border-color: #1976d2;
}

