.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .routerlinks{
    color:white;
    padding-left: 10px;
    padding-right:30px;
  }
  .navbar{
    font-size: 22px;
    color: white;
   
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
  }



  .mat-tab-link.mat-tab-link-active {
    color: #ffffff;
 }